aiogram==2.25.1
aiohttp==3.8.4
aioschedule==0.5.2
BeautifulSoup==3.2.2
beautifulsoup4==4.12.2
botocore==1.29.133
bpython==0.24
brotli==1.0.9
brotlicffi==1.0.9.2
cchardet==2.1.7
click==8.1.3
ConfigParser==5.3.0
contextlib2==21.6.0
cryptg==0.4.0
curio==1.6
Cython==0.29.34
cython_test_exception_raiser==1.0.2
dl==0.1.0
docutils==0.20
gensim==4.3.1
gobject==0.1.0
graphviz==0.20.1
h2==4.1.0
hachoir==3.2.0
hpack==4.0.0
html5lib==1.1
HTMLParser==0.0.2
hyperframe==6.0.1
ipython==8.13.2
ipywidgets==8.0.6
Jinja2==3.1.2
jnius==1.1.0
keyring==23.13.1
mypackage==0.1
MySQL-python==1.2.5
nacl==0.0.0
numpy==1.24.3
outcome==1.2.0
package==0.1.1
pandas==2.0.1
Pillow==9.5.0
priority==2.0.0
protobuf==4.23.0
psycopg==3.1.9
ptpython==3.0.23
pydantic==1.10.7
pygtk==2.24.2
PyHamcrest==2.0.4
pyPgSQL==2.5
pyserial==3.5
pytest==7.3.1
python_bcrypt==0.3.2
python_socks==2.3.0
pyui==0.1.0
quixote==3.6
railroad==0.5.0
reppy==0.4.14
robotexclusionrulesparser==1.7.1
scikit_learn==1.2.2
simplejson==3.19.1
SOAPpy==0.12.22
socksio==1.0.0
spacy==3.5.2
Sphinx==7.0.0
subunit==0.0.0a0
sumy==0.11.0
tornado==6.3.1
trio_typing==0.8.0
trove_classifiers==2023.5.2
truststore==0.7.0
urllib3_secure_extra==0.1.0
utmp==21.10.0
uvloop==0.17.0
win32gui==221.6
win32security==2.1.0
wordcloud==1.9.1.1
wxPython==4.2.0
xmlrpclib==1.0.1
zstandard==0.21.0

requests~=2.30.0
torch~=2.0.1+cu118
transformers~=4.28.1